<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-clothing-link">
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Jumpers</a>
                <a href="" class="dropdown-item">Shorts</a>
                <a href="" class="dropdown-item">Tracksuits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="womens-clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-clothing-link">
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Jumpers</a>
                <a href="" class="dropdown-item">leggings</a>
                <a href="" class="dropdown-item">Shorts</a>
                <a href="" class="dropdown-item">Tracksuits</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Charity Deals</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="charity-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Charities
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="charity-link">
                <a href="" class="dropdown-item">Charaties</a>
                <a href="" class="dropdown-item">Charaty Events</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="ambassador-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Become An Ambassador
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ambassador-link">
                <a href="" class="dropdown-item">How?</a>
                <a href="" class="dropdown-item">Why?</a>
                <a href="" class="dropdown-item">What Will I Do?</a>
            </div>
        </li>
        
    </ul>
</div>